<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Deep Platform</h2>
                <hr class="light">
                <p class="text-faded">Deep Labs' context aware data capture, integration, and analytics platform that simplifies the extraction of actionable insights in real-time from disparate datasets using the latest techniques.</p>
                <a href="#products" class="btn btn-default btn-xl">Learn more!</a>
            </div>
        </div>
    </div>
</section>
