<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Deep Labs</h2>
                <hr class="primary">
                <p class="text-faded">Deep Labs Anticipates Disruptive Technology Waves Enabling Legacy Verticals To Integrate & Monetize New Technologies And Capabilities.</p>
                <a href="#products" class="btn btn-default btn-xl page-scroll">Learn more</a>
            </div>
        </div>
    </div>
</section>
